<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!-- Content here-->
<div class="container-fluid">
    <form 
        name="formPermission"
        #formPermission="ngForm"
        class="form-neon"
        autocomplete="off">
        <fieldset>
            <legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
            <div class="container-fluid">
                <div [hidden]="true" class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="per_uuid" 
                                class="bmd-label-floating">
                                per_uuid
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="per_uuid" 
                                name="per_uuid"
                                [(ngModel)]="permission.per_uuid">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="per_slug" 
                                class="bmd-label-floating">
                                Slug
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="per_slug" 
                                name="per_slug"
                                [(ngModel)]="permission.per_slug">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="per_description" 
                                class="bmd-label-floating">
                                Descripcion
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="per_description" 
                                name="per_description" 
                                [(ngModel)]="permission.per_description">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label
                                for="rety_uuid"
                                class="bmd-label-floating">
                                Tipo de Recurso
                            </label>
                            <select 
                                class="form-control" 
                                name="rety_uuid"
                                [(ngModel)]="permission.rety_uuid"
                                (change)="onResourceTypeChange($event)">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                @for(resourceType of resourcesTypes; track resourceType.rety_uuid) {
                                    @if(resourceType){
                                        <option [value]="resourceType.rety_uuid">
                                            {{resourceType.rety_name}}
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="remo_uuid" 
                                class="bmd-label-floating">
                                Tipo de Modulo
                            </label>
                            <select 
                                class="form-control" 
                                name="remo_uuid"
                                [(ngModel)]="permission.remo_uuid"
                                (change)="onResourceModuleChange($event)">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                @for(resourceModule of resourcesModules; track resourceModule.remo_uuid) {
                                    @if(resourceModule){
                                        <option [value]="resourceModule.remo_uuid">
                                            {{resourceModule.remo_name}}
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br><br><br>
        <p class="text-center" style="margin-top: 40px;">
            @if(!permission.per_createdat) {
                <button 
                    type="reset" 
                    class="btn btn-raised btn-secondary btn-sm"
                    (click)="permissionInit()"
                    >
                    <i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR
                </button>
                &nbsp; &nbsp;
                <button 
                    type="submit" 
                    class="btn btn-raised btn-info btn-sm"
                    (click)="onSavePermission(formPermission)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="far fa-save"></i> &nbsp; GUARDAR
                    }
                </button>
            } @else {
                <button 
                    type="submit" 
                    class="btn btn-raised btn-success btn-sm"
                    (click)="onSavePermission(formPermission)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="fas fa-sync-alt"></i> &nbsp; ACTUALIZAR
                    }
                </button>
            }
        </p>
    </form>
</div>