<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!-- Content -->
<div class="container-fluid">
    @if(users$ | async; as users) {
        <div class="table-responsive">
            <table class="table table-dark table-sm">
                <thead>
                    <tr class="text-center roboto-medium">
                        <th>#</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>USUARIO</th>
                        <th>EMAIL</th>
                        <th>ACTUALIZAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>                
                    @for(user of users.data; track user.usr_uuid) {
                        @if(sysadmin) {
                            <tr class="text-center" >
                                <td>{{$index + 1}}</td>
                                <th>{{user.usr_name}}</th>
                                <th>{{user.usr_surname}}</th>
                                <th>{{user.usr_nick}}</th>
                                <th>{{user.usr_email}}</th>
                                <td>
                                    <a [routerLink]="['/admin/application/user', user.usr_uuid]" class="btn btn-success">
                                        <i class="fas fa-sync-alt"></i>	
                                    </a>
                                </td>
                                <td>
                                    <form action="">
                                        <button 
                                            type="button" 
                                            class="btn btn-warning"
                                            (click)="deleteUser(user)">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        } @else {
                            @if(!user.usr_sysadmin) {
                                <tr class="text-center" >
                                    <td>{{$index + 1}}</td>
                                    <th>{{user.usr_name}}</th>
                                    <th>{{user.usr_surname}}</th>
                                    <th>{{user.usr_nick}}</th>
                                    <th>{{user.usr_email}}</th>
                                    <td>
                                        <a [routerLink]="['/admin/application/user', user.usr_uuid]" class="btn btn-success">
                                            <i class="fas fa-sync-alt"></i>	
                                        </a>
                                    </td>
                                    <td>
                                        <form action="">
                                            <button 
                                                type="button" 
                                                class="btn btn-warning"
                                                (click)="deleteUser(user)">
                                                <i class="far fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                    }
                </tbody>
            </table>
        </div>
        @if(users.totalPages > 1) {
            <app-pagination
                (paginaEmitter)="goToPage($event)"
                [page]="page"
                [totalPages]="users.totalPages"
                [numElements]="numElements"
                >
            </app-pagination>
        }
    }
</div>