<!-- Nav lateral -->
<section class="full-box nav-lateral">
    <div class="full-box nav-lateral-bg show-nav-lateral"></div>
    <div class="full-box nav-lateral-content">
        <figure class="full-box nav-lateral-avatar">
            @if(identity) {
                <i 
                    class="far fa-times-circle
                    show-nav-lateral"
                    (click)="closeNavBar()"
                    >
                </i>
                <img [src]="identity.usr_image" class="img-fluid" alt="Avatar">
                <figcaption class="roboto-medium text-center">
                    {{identity.usr_nick}} <br><small class="roboto-condensed-light">{{identity.usr_name}} {{identity.usr_surname}}</small>
                </figcaption>
            }
        </figure>
        <div class="full-box nav-lateral-bar"></div>
        @if(selectedCompany) {
            <nav class="full-box nav-lateral-menu">
                <ul>
                    <ng-container *ngTemplateOutlet="menuTemplate; context:{ $implicit: filteredNavigation }"></ng-container>
                </ul>
            </nav>
        }
    </div>
</section>

<ng-template #menuTemplate let-items>
    @for(item of items; track item.name) {
        <li>
            <a [routerLink]="item.hasSubmenu ? null : item.url"
               class="nav-btn-submenu"
               (click)="item.hasSubmenu ? (toggleSubMenu(item)) : null"
               [class.active]="item.hasSubmenu && item.isOpen"
               style="cursor: pointer;">

                <i class="{{ item.icon }}"></i>
                &nbsp; {{ item.name }}

                @if(item.hasSubmenu) {
                    <i class="fas fa-chevron-down"
                       [class.fa-rotate-180]="item.isOpen">
                    </i>
                }
            </a>

            @if(item.hasSubmenu) {
                <ul [class.show-nav-lateral-submenu]="item.isOpen">
                    <ng-container *ngTemplateOutlet="menuTemplate; context:{ $implicit: item.submenu }"></ng-container>
                </ul>
            }
        </li>
    }
</ng-template>