<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!-- Content -->
<div class="container-fluid">
    <form 
        name="formUser"
        #formUser="ngForm" 
        class="form-neon" 
        autocomplete="off">
        <fieldset>
            <legend><i class="far fa-image"></i> &nbsp; Imagen de usuario</legend>
            <app-image
                    (imageSelected)="onImageSelected($event)"
                >
            </app-image>
            <legend><i class="far fa-address-card"></i> &nbsp; Información personal</legend>
            <div class="container-fluid">
                <div [hidden]="true" class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="usr_uuid" 
                                class="bmd-label-floating">
                                usr_uuid
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="usr_uuid" 
                                name="usr_uuid"
                                [(ngModel)]="user.usr_uuid">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="usr_name" 
                                class="bmd-label-floating">
                                Nombres
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="usr_name" 
                                name="usr_name"
                                [(ngModel)]="user.usr_name">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="usr_surname" 
                                class="bmd-label-floating">
                                Apellidos
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="usr_surname" 
                                name="usr_surname" 
                                [(ngModel)]="user.usr_surname">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br><br><br>
        <fieldset>
            <legend><i class="fas fa-user-lock"></i> &nbsp; Información de la cuenta</legend>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="usr_nick" 
                                class="bmd-label-floating"
                                >
                                Nombre de usuario
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="usr_nick" 
                                name="usr_nick" 
                                [(ngModel)]="user.usr_nick"
                                >
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="usr_email" 
                                class="bmd-label-floating"
                                >
                                Email
                            </label>
                            <input 
                                type="email" 
                                class="form-control" 
                                id="usr_email" 
                                name="usr_email" 
                                [(ngModel)]="user.usr_email"
                                >
                        </div>
                    </div>
                    <!-- Botón para mostrar/ocultar campos de contraseña -->
                    <div class="col-12">
                        <div class="form-group text-center mb-3">
                            <button 
                                type="button" 
                                class="btn btn-outline-warning btn-sm"
                                (click)="togglePasswordFields()"
                                >
                                <i class="fas fa-key"></i> &nbsp; 
                                {{ showPasswordFields ? 'OCULTAR CONTRASEÑA' : 'CAMBIAR CONTRASEÑA' }}
                            </button>
                        </div>
                    </div>

                    <!-- Campos de contraseña (ocultos por defecto) -->
                    @if(showPasswordFields) {
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label 
                                    for="usr_password" 
                                    class="bmd-label-floating"
                                    >
                                    Contraseña
                                </label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    id="usr_password" 
                                    name="usr_password" 
                                    [(ngModel)]="user.usr_password"
                                    >
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label 
                                    for="usr_password_repeat" 
                                    class="bmd-label-floating"
                                    >
                                    Repetir contraseña
                                </label>
                                <input 
                                    type="password" 
                                    class="form-control" 
                                    id="usr_password_repeat" 
                                    name="usr_password_repeat" 
                                    [(ngModel)]="usr_password_repeat"
                                    >
                            </div>
                        </div>
                    }
                    @if(sysadmin) {
                        <div class="col-12 col-md-6">
                            <label 
                                for="usr_company" 
                                class="bmd-label-floating"
                                >
                                Empresa
                            </label>
                            @if(companies$ | async; as companies) {
                                <nz-select
                                    name="usr_company"
                                    nzSize="large" 
                                    nzAllowClear
                                    nzShowSearch
                                    nzServerSearch
                                    [(ngModel)]="selectedCompany"
                                    (nzOnSearch)="onSearchCompany($event)"
                                    (ngModelChange)="onChangeCompany($event)"
                                    nzPlaceHolder="Seleccione Empresa"
                                    >
                                    @if (!loadingCompanies) {
                                        @for (company of companies.data; track company.cmp_uuid) {
                                            <nz-option 
                                                [nzValue]="company.cmp_uuid" 
                                                [nzLabel]="company.cmp_name">
                                            </nz-option>
                                        }
                                    } @else {
                                        <nz-option nzDisabled nzCustomContent>
                                        <nz-icon nzType="loading" class="loading-icon" />
                                        Loading Data...
                                        </nz-option>
                                    }
                                </nz-select>
                            }
                        </div>
                    }
                    @if(admin) {
                        <div class="col-12 col-md-6">
                            <label 
                                for="usr_roles" 
                                class="bmd-label-floating"
                                >
                                Roles
                            </label>
                            @if(roles$ | async; as roles) {
                                <nz-select 
                                    name="usr_roles" 
                                    [(ngModel)]="userRolesSelected" 
                                    (ngModelChange)="onSelectChange($event)"
                                    nzSize="large" 
                                    nzMode="multiple" 
                                    nzPlaceHolder="Seleccione Roles"
                                    >
                                    @for (rol of roles.data; track rol.rol_uuid) {
                                        @if(sysadmin) {
                                            <nz-option 
                                                [nzLabel]="rol.rol_name" 
                                                [nzValue]="rol.rol_uuid">
                                            </nz-option>
                                        } @else {
                                            @if(rol.rol_name != "sysadmin") {
                                                <nz-option 
                                                    [nzLabel]="rol.rol_name" 
                                                    [nzValue]="rol.rol_uuid">
                                                </nz-option>
                                            }
                                        }
                                    }
                                </nz-select>
                            }
                        </div>
                    }
                </div>
            </div>
        </fieldset>
        <br><br><br>
        <p class="text-center" style="margin-top: 40px;">
            @if(user.usr_uuid === "new") {
                <button 
                    type="reset" 
                    class="btn btn-raised btn-secondary btn-sm"
                    (click)="userInit()"
                    >
                    <i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR
                </button>
                &nbsp; &nbsp;
                <button 
                    type="submit" 
                    class="btn btn-raised btn-info btn-sm"
                    (click)="onSaveUser(formUser)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="far fa-save"></i> &nbsp; GUARDAR
                    }
                </button>
            } @else {
                <button 
                    type="submit" 
                    class="btn btn-raised btn-success btn-sm"
                    (click)="onSaveUser(formUser)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="fas fa-sync-alt"></i> &nbsp; ACTUALIZAR
                    }
                </button>
            }
        </p>
    </form>
</div>