<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<!-- Content here-->
<div class="container-fluid">
    <form 
        name="formAddress"
        #formAddress="ngForm"
        class="form-neon"
        autocomplete="off">
        <fieldset>
            <legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
            <div class="container-fluid">
                <div [hidden]="true" class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label 
                                for="cmp_uuid" 
                                class="bmd-label-floating">
                                cmp_uuid
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="cmp_uuid" 
                                id="cmp_uuid" 
                                name="cmp_uuid" 
                                [(ngModel)]="address.cmp_uuid">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label 
                                for="cus_uuid" 
                                class="bmd-label-floating">
                                cus_uuid
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cus_uuid" 
                                name="cus_uuid"
                                [(ngModel)]="address.cus_uuid">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label 
                                for="adr_uuid" 
                                class="bmd-label-floating">
                                adr_uuid
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="adr_uuid" 
                                name="adr_uuid"
                                [(ngModel)]="address.adr_uuid">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="adr_address"
                                class="bmd-label-floating"
                                >
                                Direccion
                            </label>
                            <input 
                                type="text" 
                                class="form-control"
                                id="adr_address"
                                name="adr_address"
                                [(ngModel)]="address.adr_address">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label 
                                for="adr_postalcode" 
                                class="bmd-label-floating">
                                Cod. Postal
                            </label>
                            <input 
                                type="text"
                                class="form-control"
                                id="adr_postalcode"
                                name="adr_postalcode"
                                [(ngModel)]="address.adr_postalcode">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label
                                for="adr_city"
                                class="bmd-label-floating">
                                Ciudad
                            </label>
                            <input
                                type="text" 
                                class="form-control" 
                                id="adr_city" 
                                name="adr_city" 
                                [(ngModel)]="address.adr_city">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label 
                                for="adr_province" 
                                class="bmd-label-floating">
                                Provincia
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="adr_province" 
                                id="adr_province" 
                                name="adr_province" 
                                [(ngModel)]="address.adr_province">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label 
                                for="adr_dimensions" 
                                class="bmd-label-floating">
                                Dimensiones
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="adr_dimensions" 
                                id="adr_dimensions" 
                                name="adr_dimensions" 
                                [(ngModel)]="address.adr_dimensions">
                        </div>
                    </div>
                    @if(!cus_subscriptionplanbycustomer) {
                        <div class="col-12 col-md-4">
                            <div class="form-group">
                                <label
                                    for="subp_uuid"
                                    class="bmd-label-floating">
                                    Plan de Suscripción
                                </label>
                                <select 
                                    class="form-control" 
                                    name="subp_uuid"
                                    [(ngModel)]="address.subp_uuid"
                                    (change)="onSubscriptionPlanChange($event)">
                                    <option value="" selected="" disabled="">Seleccione una opción</option>
                                    @for(subscriptionPlan of subscriptionsPlans; track subscriptionPlan.subp_uuid) {
                                        @if(subscriptionPlan){
                                            <option [value]="subscriptionPlan.subp_uuid">
                                                {{subscriptionPlan.subp_name}}
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    }
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label 
                                for="adr_active" 
                                class="bmd-label-floating">
                                Activo
                            </label>
                            <input 
                                type="checkbox" 
                                class="form-control" 
                                id="adr_active" 
                                name="adr_active" 
                                [(ngModel)]="address.adr_active">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <br><br><br>
        <p class="text-center" style="margin-top: 40px;">
            @if(address.adr_uuid === "new") {
                <button 
                    type="reset" 
                    class="btn btn-raised btn-secondary btn-sm"
                    (click)="addressInit()"
                    >
                    <i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR
                </button>
                &nbsp; &nbsp;
                <button 
                    type="submit" 
                    class="btn btn-raised btn-info btn-sm"
                    (click)="onSaveAddress(formAddress)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="far fa-save"></i> &nbsp; GUARDAR
                    }
                </button>
            } @else {
                <button 
                    type="submit" 
                    class="btn btn-raised btn-success btn-sm"
                    (click)="onSaveAddress(formAddress)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="fas fa-sync-alt"></i> &nbsp; ACTUALIZAR
                    }
                </button>
            }
        </p>
    </form>
</div>