<p class="text-muted text-center">Seleciona una imagen</p>
<div class="form-group">
    <div class="custom-input-file">
        <input
            type="file"
            size="1"
            class="input-file"
            (change)="changeImage($event)"
            />
        @if(!imageSrc) {
            <i
                class="far fa-image"
                aria-hidden="true"
                >
            </i>
        } @else {
            <img
                [src]="imageSrc.base64"
                default="assets/no-image.png"
            />
        }
    </div>
    <br>
    <p class="text-muted text-center file-name">
        @if(!imageSrc) {
            Sin Imagen
        } @else {
            <!--Archivo...-->
            {{imageSrc.name}}
        }
    </p>
</div>