<nav class="full-box navbar-info">
    <a href="#" class="float-left show-nav-lateral">
        <i class="fas fa-exchange-alt"></i>
    </a>
    @if(userRolesCompany) {
        <select 
            class="form-control" 
            name="usuario_privilegio" 
            class="select-rol"
            [(ngModel)]="selectedCompany"
            (change)="onCompanyChange($event)">
            <option value="" selected="" disabled="">Seleccione una opción</option>
            @for(userRolCompany of userRolesCompany; track userRolCompany.usrrolcmp_uuid) {
                @if(userRolCompany.cmp){
                    <option [value]="userRolCompany.cmp.cmp_uuid">
                        {{userRolCompany.cmp.cmp_name}}
                    </option>
                }
            }
        </select>
    }
    <a [routerLink]="['/admin/application/user', identity.usr_uuid]">
        <i class="fas fa-user-cog"></i>
    </a>
    <a href="#" class="btn-exit-system">
        <i class="fas fa-power-off"></i>
    </a>
</nav>