<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li 
            [ngClass]="{'disabled': page === 1}"
            (click)="prev()"
            class="page-item"
            >
            <a class="page-link" tabindex="-1">Previous</a>
        </li>
        @for(p of pages; track i; let i = $index) {
            <li
                [ngClass]="{'active': p === page}"
                (click)="setPage(p)"
                class="page-item"
                >
                <a 
                    class="page-link"
                    >
                {{p}}
                </a>
            </li>
        }
        <li 
            [ngClass]="{'disabled': (page) >= totalPages}"
            (click)="next()"
            class="page-item"
            >
            <a class="page-link">Next</a>
        </li>
    </ul>
</nav>