<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<!-- Content -->
<div class="container-fluid">
    <app-multi-step
          (stepEmitter)="goToStep($event)"
          [step]="step"
          [items]="itemsStep"
          >
    </app-multi-step>
    @switch(step.name) {
        @case('initial_photo') {
            @if(work) {
                <app-camera 
                    [existingImage]="initImage"
                    (photoSaved)="onPhotoSaved($event)"
                    >
                </app-camera>
            }
        }
        @case('work_detail') {
            <div class="table-responsive">
                <table class="table table-dark table-sm">
                    <thead>
                        <tr class="text-center roboto-medium">
                            <th>#</th>
                            <th>ITEM</th>
                            <th>VALOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(workDetailsDetail of workDetailsDetail; track workDetailsDetail.wrkd_uuid) {
                            <tr class="text-center" >
                                <td>{{$index + 1}}</td>
                                <td>{{workDetailsDetail.wrkd_name}}</td>
                                @switch (workDetailsDetail.dtp?.dtp_cod) {
                                    @case ('string') {
                                        <td>
                                            <input 
                                                type="text" 
                                                pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                maxlength="35"
                                                name="wrkd_value"
                                                [class.is-invalid-field]="!workDetailsDetail.wrkd_value"
                                                [(ngModel)]="workDetailsDetail.wrkd_value"
                                                (blur)="onValueChangeInputText($event, workDetailsDetail!)">
                                        </td>
                                    }
                                    @case ('boolean') {
                                        <td>
                                            <input 
                                                type="checkbox" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                name="wrkd_value" 
                                                [checked]="workDetailsDetail.wrkd_value === 'true'"
                                                (click)="onValueChangeInputCheck($event, workDetailsDetail!)">
                                                <!-- [(ngModel)]="workDetailsDetail.wrkd_value" -->
                                        </td>
                                    }
                                    @case ('Integer') {
                                        <input 
                                                type="number" 
                                                pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                maxlength="35"
                                                name="wrkd_value"
                                                [class.is-invalid-field]="workDetailsDetail.wrkd_value === '' || workDetailsDetail.wrkd_value === null || workDetailsDetail.wrkd_value === undefined"
                                                [(ngModel)]="workDetailsDetail.wrkd_value"
                                                (blur)="onValueChangeInputNumber($event, workDetailsDetail!)">
                                    }
                                    @case ('float') {
                                        <input 
                                                type="number" 
                                                pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                maxlength="35"
                                                name="wrkd_value"
                                                [class.is-invalid-field]="workDetailsDetail.wrkd_value === '' || workDetailsDetail.wrkd_value === null || workDetailsDetail.wrkd_value === undefined"
                                                [(ngModel)]="workDetailsDetail.wrkd_value"
                                                (blur)="onValueChangeInputNumber($event, workDetailsDetail!)">
                                    }
                                    @case ('date') {
                                        <td>
                                            <input 
                                                type="date" 
                                                class="form-control" 
                                                name="wrkd_value" 
                                                id="wrkd_value"
                                                [(ngModel)]="workDetailsDetail.wrkd_value"
                                                >
                                        </td>
                                    }
                                    @case ('datetime') {
                                        <td>
                                            <input 
                                                type="datetime-local" 
                                                class="form-control" 
                                                name="wrkd_value" 
                                                id="wrkd_value"
                                                [(ngModel)]="workDetailsDetail.wrkd_value"
                                                >
                                        </td>
                                    }
                                    @case ('array') {
                                        <td>
                                            <select 
                                                class="form-control" 
                                                name="wrkd_value" 
                                                [class.is-invalid-field]="!workDetailsDetail.wrkd_value"
                                                [(ngModel)]="workDetailsDetail.wrkd_value"
                                                (change)="onValueChangeList($event, workDetailsDetail!)">
                                                @for(arrayValue of findDetailModelItemArrayValues(workDetailsDetail.wrkd_key!); track arrayValue.id) {
                                                    <option [value]="arrayValue.value">
                                                        {{arrayValue.value}}
                                                    </option>
                                                }
                                            </select>
                                        </td>
                                    }
                                    @default {
                                        <div>
                                            No hay tipo de dato.
                                        </div>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <p class="text-center" style="margin-top: 40px;">
                <button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp; VOLVER</button>
                @if(isFormComplete) {
                    &nbsp; &nbsp;
                    <button 
                        class="btn btn-raised btn-success btn-sm"
                        (click)="continue()"
                    >
                        CONTINUAR
                    </button>
                }
            </p>
            @if (!isFormComplete) {                
                <div class="text-muted fst-italic text-center">
                    <small>* Por favor complete todos los campos para continuar.</small>
                </div>
            }
        }
        @case('final_photo') {
            <app-camera 
                (photoSaved)="onPhotoSaved($event)"
                >
            </app-camera>
        }
        @case('work_observations') {
            <div class="table-responsive">
                <table class="table table-dark table-sm">
                    <thead>
                        <tr class="text-center roboto-medium">
                            <th>#</th>
                            <th>ITEM</th>
                            <th>VALOR</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(workDetailObservation of workDetailsObservations; track workDetailObservation.wrkd_uuid) {
                            <tr class="text-center" >
                                <td>{{$index + 1}}</td>
                                <td>{{workDetailObservation.wrkd_name}}</td>
                                @switch (workDetailObservation.dtp?.dtp_cod) {
                                    @case ('string') {
                                        <td>
                                            <input 
                                                type="text" 
                                                pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                maxlength="35"
                                                name="wrkd_value"
                                                [(ngModel)]="workDetailObservation.wrkd_value"
                                                (blur)="onValueChangeInputText($event, workDetailObservation!)">
                                        </td>
                                    }
                                    @case ('boolean') {
                                        <td>
                                            <input 
                                                type="checkbox" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                name="wrkd_value" 
                                                [checked]="workDetailObservation.wrkd_value === 'true'"
                                                (click)="onValueChangeInputCheck($event, workDetailObservation!)">
                                                <!-- [(ngModel)]="workDetailObservation.wrkd_value" -->
                                        </td>
                                    }
                                    @case ('Integer') {
                                        <input 
                                                type="number" 
                                                pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                maxlength="35"
                                                name="wrkd_value"
                                                [(ngModel)]="workDetailObservation.wrkd_value"
                                                (blur)="onValueChangeInputNumber($event, workDetailObservation!)">
                                    }
                                    @case ('float') {
                                        <input 
                                                type="number" 
                                                pattern="[a-zA-ZáéíóúÁÉÍÓÚñÑ ]{1,35}" 
                                                class="form-control" 
                                                id="wrkd_value" 
                                                maxlength="35"
                                                name="wrkd_value"
                                                [(ngModel)]="workDetailObservation.wrkd_value"
                                                (blur)="onValueChangeInputNumber($event, workDetailObservation!)">
                                    }
                                    @case ('date') {
                                        <td>
                                            <input 
                                                type="date" 
                                                class="form-control" 
                                                name="wrkd_value" 
                                                id="wrkd_value"
                                                [(ngModel)]="workDetailObservation.wrkd_value"
                                                >
                                        </td>
                                    }
                                    @case ('datetime') {
                                        <td>
                                            <input 
                                                type="datetime-local" 
                                                class="form-control" 
                                                name="wrkd_value" 
                                                id="wrkd_value"
                                                [(ngModel)]="workDetailObservation.wrkd_value"
                                                >
                                        </td>
                                    }
                                    @case ('array') {
                                        <td>
                                            <select 
                                                class="form-control" 
                                                name="wrkd_value" 
                                                [(ngModel)]="workDetailObservation.wrkd_value"
                                                (change)="onValueChangeList($event, workDetailObservation!)">
                                                @for(arrayValue of findDetailModelItemArrayValues(workDetailObservation.wrkd_key!); track arrayValue.id) {
                                                    <option [value]="arrayValue.value">
                                                        {{arrayValue.value}}
                                                    </option>
                                                }
                                            </select>
                                        </td>
                                    }
                                    @default {
                                        <div>
                                            No hay tipo de dato.
                                        </div>
                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <p class="text-center" style="margin-top: 40px;">
                <button type="reset" class="btn btn-raised btn-secondary btn-sm"><i class="fas fa-paint-roller"></i> &nbsp; VOLVER</button>
                &nbsp; &nbsp;
                <button 
                    type="submit" 
                    class="btn btn-raised btn-info btn-sm"
                    [disabled]="isLoading"
                    (click)="closeWork()"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="far fa-save"></i> &nbsp; CERRAR TRABAJO
                    }
                </button>
            </p>
        }
    }
</div>