<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!-- Content here-->
<div class="container-fluid">
    <form 
        class="form-neon"
        autocomplete="off">
        <div class="container-fluid">
            <div class="row align-items-end"> 

                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="inputFilter" class="bmd-label-floating">Buscar por nombre:</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    id="inputFilter" 
                                    [(ngModel)]="searchNombreApellido"
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="Escribe para filtrar..."
                                    >
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="inputFilterEmail" class="bmd-label-floating">Filtrar por Email:</label>
                                <input 
                                    type="email"
                                    class="form-control"
                                    id="inputFilterEmail" 
                                    [(ngModel)]="searchEmail"
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="email@ejemplo.com"
                                    >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputFieldSort" class="bmd-label-floating">Campo:</label>
                        <nz-select [(ngModel)]="fieldSortValue" [ngModelOptions]="{standalone: true}" name="sort" style="width: 100%;">
                            <nz-option nzValue="cus_fullname" nzLabel="Nombre"></nz-option>
                            <nz-option nzValue="cus_email" nzLabel="Email"></nz-option>
                            <nz-option nzValue="rou_order" nzLabel="Recorrido"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputSort" class="bmd-label-floating">Ordenar:</label>
                        <nz-select [(ngModel)]="sortValue" [ngModelOptions]="{standalone: true}" name="sort" style="width: 100%;">
                            <nz-option nzValue="ASC" nzLabel="A-Z (Asc)"></nz-option>
                            <nz-option nzValue="DESC" nzLabel="Z-A (Desc)"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputItems" class="bmd-label-floating">Items:</label>
                        <nz-select [(ngModel)]="perPage" [ngModelOptions]="{standalone: true}" name="perPage" style="width: 100%;">
                            <nz-option [nzValue]="10" nzLabel="10"></nz-option>
                            <nz-option [nzValue]="25" nzLabel="25"></nz-option>
                            <nz-option [nzValue]="50" nzLabel="50"></nz-option>
                            <nz-option [nzValue]="100" nzLabel="100"></nz-option>
                        </nz-select>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <p class="text-center" style="margin-top: 15px;">
                    <button type="submit"  (click)="filter()" class="btn btn-raised btn-info" style="margin: 0 5px 0 0;">
                        <i class="fas fa-search"></i> &nbsp; BUSCAR
                    </button>
                    <button type="button" (click)="clearSearch()" class="btn btn-raised btn-danger" style="margin: 0;">
                        <i class="far fa-trash-alt"></i> &nbsp; LIMPIAR BÚSQUEDA
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid">
    @if(customers$ | async; as customers) {
        <div class="table-responsive">
            <table class="table table-dark table-sm">
                <thead>
                    <tr class="text-center roboto-medium">
                        <th>#</th>
                        <th>NOMBRE</th>
                        <th>EMAIL</th>
                        <th>TELEFONO</th>
                        <th>DIRECCIONES</th>
                        <th>RECORRIDO</th>
                        <th>ACTUALIZAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    @for(customer of customers.data; track customer.cus_uuid) {
                        <tr class="text-center" >
                            <td>{{$index + 1}}</td>
                            <td>{{customer.cus_fullname}}</td>
                            <td>{{customer.cus_email}}</td>
                            <td>{{customer.cus_phone}}</td>
                            <td>
                                @for(address of customer.cus_addresses?.split(' | ') || []; track $index) {
                                    <div>
                                        Direccion {{$index + 1}}: {{ address }}
                                    </div>
                                }
                            </td>
                            <td>{{customer.rou?.rou_name}}</td>
                            <td>
                                <a [routerLink]="['/admin/user/customer', customer.cus_uuid]" class="btn btn-success">
                                    <i class="fas fa-sync-alt"></i>	
                                </a>
                            </td>
                            <td>
                                <form action="">
                                    <button 
                                        type="button" 
                                        class="btn btn-warning"
                                        (click)="deleteCustomer(customer)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if(customers.totalPages > 1) {
            <app-pagination
                (paginaEmitter)="goToPage($event)"
                [page]="page"
                [totalPages]="customers.totalPages"
                [numElements]="numElements"
                >
            </app-pagination>
        }
    }
</div>