<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!-- Content here-->
<div class="container-fluid">
    <form 
        name="formCustomer"
        #formCustomer="ngForm"
        class="form-neon"
        autocomplete="off">
        <fieldset>
            <legend><i class="fas fa-user"></i> &nbsp; Información básica</legend>
            <div class="container-fluid">
                <div [hidden]="true" class="row">
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label 
                                for="cmp_uuid" 
                                class="bmd-label-floating">
                                cmp_uuid
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="cmp_uuid" 
                                id="cmp_uuid" 
                                name="cmp_uuid" 
                                [(ngModel)]="customer.cmp_uuid">
                        </div>
                    </div>
                    <div class="col-12 col-md-3">
                        <div class="form-group">
                            <label 
                                for="cus_uuid" 
                                class="bmd-label-floating">
                                cus_uuid
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="cus_uuid" 
                                name="cus_uuid"
                                [(ngModel)]="customer.cus_uuid">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            <label 
                                for="cus_fullname"
                                class="bmd-label-floating"
                                >
                                Nombre y Apellido
                            </label>
                            <input 
                                type="text" 
                                class="form-control"
                                id="cus_fullname"
                                name="cus_fullname"
                                [(ngModel)]="customer.cus_fullname">
                        </div>
                    </div>
                    <div class="col-12 col-md-5">
                        <div class="form-group">
                            <label 
                                for="cus_email" 
                                class="bmd-label-floating">
                                Email
                            </label>
                            <input 
                                type="text"
                                class="form-control"
                                id="cus_email"
                                name="cus_email"
                                [(ngModel)]="customer.cus_email">
                        </div>
                    </div>
                    <div class="col-12 col-md-2">
                        <div class="form-group">
                            <label 
                                for="cus_dateofbirth" 
                                class="bmd-label-floating">
                                Fecha de Cumpleaños
                            </label>
                            <input 
                                type="date"
                                class="form-control"
                                id="cus_dateofbirth"
                                name="cus_dateofbirth"
                                [(ngModel)]="customer.cus_dateofbirth">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label
                                for="cus_phone"
                                class="bmd-label-floating">
                                Telefono
                            </label>
                            <input
                                type="text" 
                                class="form-control" 
                                id="cus_phone" 
                                name="cus_phone" 
                                [(ngModel)]="customer.cus_phone">
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label
                                for="rou_uuid"
                                class="bmd-label-floating">
                                Recorrido
                            </label>
                            <select 
                                class="form-control" 
                                name="rou_uuid"
                                [(ngModel)]="customer.rou_uuid"
                                (change)="onRouteChange($event)">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                @for(route of routes; track route.rou_uuid) {
                                    @if(route){
                                        <option [value]="route.rou_uuid">
                                            {{route.rou_name}}
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label
                                for="pmt_uuid"
                                class="bmd-label-floating">
                                Forma de Cobro
                            </label>
                            <select 
                                class="form-control" 
                                name="pmt_uuid"
                                [(ngModel)]="customer.pmt_uuid"
                                (change)="onPaymentMethodChange($event)">
                                <option value="" selected="" disabled="">Seleccione una opción</option>
                                @for(paymentMethod of paymentMethods; track paymentMethod.pmt_uuid) {
                                    @if(paymentMethod){
                                        <option [value]="paymentMethod.pmt_uuid">
                                            {{paymentMethod.pmt_name}}
                                        </option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label 
                                for="usr_uuid" 
                                class="bmd-label-floating">
                                Usuario
                            </label>
                            <input 
                                type="text" 
                                class="form-control" 
                                name="usr_uuid" 
                                id="usr_uuid" 
                                name="usr_uuid" 
                                [(ngModel)]="customer.usr_uuid">
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><i class="fa fa-map"></i> &nbsp; Direcciones</legend>
            <button (click)="addAddress()" class="btn btn-primary">
                <i class="fas fa-plus fa-fw"></i>
                Agregar Direccion
            </button>
            @if(customer.addresses) {
                @for(address of customer.addresses; track address.adr_uuid) {
                    <div class="card-address">
                        <div class="card-address-left">
                            <label class="card-address-left-label">Direccion</label>
                            <h4>{{address.adr_address}}</h4>
                            <div class="card-address-left-bottom">
                                <div class="card-address-left-bottom-city">
                                    <label class="card-address-left-label">Ciudad</label>
                                    <div class="card-address-left-bottom-city-data">
                                        <h5>{{address.adr_postalcode}}</h5>
                                        <h5>{{address.adr_city}}</h5>
                                    </div>
                                </div>
                                <div class="card-address-left-bottom-province">
                                    <label class="card-address-left-label">Provincia</label>
                                    <h5>{{address.adr_province}}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="card-address-right">
                            <a [routerLink]="['/admin/user/address', address.cus_uuid, address.adr_uuid]" class="btn btn-success">
                                <i class="fas fa-sync-alt"></i>	
                            </a>
                            <form action="" class="card-address-right-form">
                                <button 
                                    type="button" 
                                    class="btn btn-warning"
                                    (click)="deleteAddress(address)">
                                    <i class="far fa-trash-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                }
            }
        </fieldset>
        <br><br><br>
        <p class="text-center" style="margin-top: 40px;">
            @if(customer.cus_uuid === "new") {
                <button 
                    type="reset" 
                    class="btn btn-raised btn-secondary btn-sm"
                    (click)="customerInit()"
                    >
                    <i class="fas fa-paint-roller"></i> &nbsp; LIMPIAR
                </button>
                &nbsp; &nbsp;
                <button 
                    type="submit" 
                    class="btn btn-raised btn-info btn-sm"
                    (click)="onSaveCustomer(formCustomer)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="far fa-save"></i> &nbsp; GUARDAR
                    }
                </button>
            } @else {
                <button 
                    type="submit" 
                    class="btn btn-raised btn-success btn-sm"
                    (click)="onSaveCustomer(formCustomer)"
                    [disabled]="isLoading"
                    >
                    @if(isLoading) {
                        <span class="spinner spinner-sm me-2"></span>
                        <span>Procesando...</span>
                    } @else {
                        <i class="fas fa-sync-alt"></i> &nbsp; ACTUALIZAR
                    }
                </button>
            }
        </p>
    </form>
</div>