<div class="nav-tabs-container">
    <div class="container-fluid">
        <ul class="nav-tabs-list">
            @for(item of data; track $index) {
                <li class="nav-item">
                    <a [routerLink]="item.url" routerLinkActive="active" class="nav-link-item">
                        <i [class]="item.icon" class="nav-icon"></i>
                        <span class="nav-title">{{item.title}}</span>
                    </a>
                </li>
            }
        </ul>	
    </div>
</div>