<div class="login-container">
    <div class="login-content">
        <p class="text-center">
            <i class="fas fa-user-circle fa-5x"></i>
        </p>
        <p class="text-center">
            Inicia sesión con tu cuenta
        </p>
        <!-- Mensaje de error -->
        @if(status === 'error') {
        <div class="alert alert-danger text-center">
            {{ errorMessage }}
        </div>
        }
        <form 
            name="formLogin"
            #formLogin="ngForm">
            <div class="form-group">
                <label
                    for="UserName" 
                    class="bmd-label-floating"
                    >
                    <i class="fas fa-user-secret"></i> &nbsp; Usuario
                </label>
                <input 
                    type="text" 
                    class="form-control" 
                    id="UserName" 
                    name="usr_user"
                    [(ngModel)]="user.usr_user" 
                    pattern="[a-zA-Z0-9]{1,35}" 
                    maxlength="35">
            </div>
            <div class="form-group">
                <label 
                    for="UserPassword" 
                    class="bmd-label-floating"
                    >
                    <i class="fas fa-key"></i> &nbsp; Contraseña
                </label>
                <div class="password-container">
                    <input 
                        [type]="showPassword ? 'text' : 'password'" 
                        class="form-control" 
                        id="UserPassword"
                        name="usr_password"
                        [(ngModel)]="user.usr_password"
                        maxlength="200">
                    <i 
                      class="fa password-icon"
                      [class.fa-eye]="!showPassword"
                      [class.fa-eye-slash]="showPassword"
                      aria-hidden="true"
                      (click)="togglePasswordVisibility()"
                      >
                    </i>
                </div>
            </div>
            <button class="btn-login text-center" type="submit" (click)="onLogin(formLogin)" [disabled]="isLoading">
              @if(isLoading) {
                <span class="spinner spinner-sm me-2"></span>
                <span>Procesando...</span>
              } @else {
                <span>LOG IN</span>
              }
            </button>
        </form>
    </div>
</div>