<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!-- Content -->
<div class="container-fluid">
    <form class="form-neon" autocomplete="off">
        <div class="container-fluid">
            <div class="row align-items-end">
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label for="inputFilterName" class="bmd-label-floating">Buscar por nombre:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="inputFilterName"
                            [(ngModel)]="searchName" 
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Nombre del rubro..."
                            (keyup.enter)="onSearch()"
                        >
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="form-group">
                        <label for="inputFilterDesc" class="bmd-label-floating">Filtrar por descripción:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="inputFilterDesc"
                            [(ngModel)]="searchDescription" 
                            [ngModelOptions]="{standalone: true}"
                            placeholder="Descripción..."
                            (keyup.enter)="onSearch()"
                        >
                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputFieldSort" class="bmd-label-floating">Campo:</label>
                        <nz-select [(ngModel)]="fieldSortValue" [ngModelOptions]="{standalone: true}" name="sortField" style="width: 100%;" (ngModelChange)="onSearch()">
                            <nz-option nzValue="itm_name" nzLabel="Nombre"></nz-option>
                            <nz-option nzValue="itm_description" nzLabel="Descripción"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="col-12 col-md-2">
                    <div class="form-group">
                        <label for="inputSort" class="bmd-label-floating">Ordenar:</label>
                        <nz-select [(ngModel)]="sortValue" [ngModelOptions]="{standalone: true}" name="sortOrder" style="width: 100%;" (ngModelChange)="onSearch()">
                            <nz-option nzValue="ASC" nzLabel="A-Z (Asc)"></nz-option>
                            <nz-option nzValue="DESC" nzLabel="Z-A (Desc)"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputItems" class="bmd-label-floating">Items:</label>
                        <nz-select [(ngModel)]="perPage" [ngModelOptions]="{standalone: true}" name="perPage" style="width: 100%;" (ngModelChange)="onSearch()">
                            <nz-option [nzValue]="10" nzLabel="10"></nz-option>
                            <nz-option [nzValue]="25" nzLabel="25"></nz-option>
                            <nz-option [nzValue]="50" nzLabel="50"></nz-option>
                            <nz-option [nzValue]="100" nzLabel="100"></nz-option>
                        </nz-select>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <p class="text-center" style="margin-top: 15px;">
                    <button type="submit" (click)="onSearch()" class="btn btn-raised btn-info" style="margin: 0 5px 0 0;">
                        <i class="fas fa-search"></i> &nbsp; BUSCAR
                    </button>
                    <button type="button" (click)="clearSearch()" class="btn btn-raised btn-danger" style="margin: 0;">
                        <i class="far fa-trash-alt"></i> &nbsp; LIMPIAR BÚSQUEDA
                    </button>
                </p>
            </div>
        </div>
    </form>

    @if(items$ | async; as items) {
        <div class="table-responsive">
            <table class="table table-dark table-sm">
                <thead>
                    <tr class="text-center roboto-medium">
                        <th>#</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>ACTUALIZAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    @for(item of items.data; track item.itm_uuid) {
                        <tr class="text-center" >
                            <td>{{$index + 1}}</td>
                            <th>{{item.itm_name}}</th>
                            <th>{{item.itm_description}}</th>
                            <td>
                                <a [routerLink]="['/admin/application/item', item.itm_uuid]" class="btn btn-success">
                                    <i class="fas fa-sync-alt"></i>	
                                </a>
                            </td>
                            <td>
                                <form action="">
                                    <button 
                                        type="button" 
                                        class="btn btn-warning"
                                        (click)="deleteItem(item)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if(items.totalPages > 1) {
            <app-pagination
                (paginaEmitter)="goToPage($event)"
                [page]="page"
                [totalPages]="items.totalPages"
                [numElements]="numElements"
                >
            </app-pagination>
        }
    }
</div>