<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!-- Content -->
<div class="container-fluid">
    @if(items$ | async; as items) {
        <div class="table-responsive">
            <table class="table table-dark table-sm">
                <thead>
                    <tr class="text-center roboto-medium">
                        <th>#</th>
                        <th>NOMBRE</th>
                        <th>DESCRIPCION</th>
                        <th>ACTUALIZAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>
                    @for(item of items.data; track item.itm_uuid) {
                        <tr class="text-center" >
                            <td>{{$index + 1}}</td>
                            <th>{{item.itm_name}}</th>
                            <th>{{item.itm_description}}</th>
                            <td>
                                <a [routerLink]="['/admin/application/item', item.itm_uuid]" class="btn btn-success">
                                    <i class="fas fa-sync-alt"></i>	
                                </a>
                            </td>
                            <td>
                                <form action="">
                                    <button 
                                        type="button" 
                                        class="btn btn-warning"
                                        (click)="deleteItem(item)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if(items.totalPages > 1) {
            <app-pagination
                (paginaEmitter)="goToPage($event)"
                [page]="page"
                [totalPages]="items.totalPages"
                [numElements]="numElements"
                >
            </app-pagination>
        }
    }
</div>