<!-- Page header -->
<app-header [config]="headerConfig"></app-header>

<app-page-nav-tabs [data]="dataTabs"></app-page-nav-tabs>

<!--CONTENT-->
<div class="container-fluid">
    <form 
        class="form-neon"
        autocomplete="off">
        <div class="container-fluid">
            <div class="row align-items-end">

                <div class="col-12 col-md-9">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="inputFilter" class="bmd-label-floating">F.Desde:</label>
                                <input 
                                    type="date"
                                    class="form-control"
                                    id="inputFilter" 
                                    [(ngModel)]="searchDateFrom"
                                    [ngModelOptions]="{standalone: true}"
                                    >
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <div class="form-group">
                                <label for="inputFilterDateTo" class="bmd-label-floating">F.Hasta:</label>
                                <input 
                                    type="date"
                                    class="form-control"
                                    id="inputFilterDateTo" 
                                    [(ngModel)]="searchDateTo"
                                    [ngModelOptions]="{standalone: true}"
                                    >
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <label for="inputFilterCustomer" class="bmd-label-floating">Cliente:</label>
                                <input 
                                    type="text"
                                    class="form-control"
                                    id="inputFilterCustomer" 
                                    [(ngModel)]="searchCustomer"
                                    [ngModelOptions]="{standalone: true}"
                                    placeholder="Filtro por cliente"
                                    >
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputFieldSort" class="bmd-label-floating">Campo:</label>
                        <nz-select [(ngModel)]="fieldSortValue" [ngModelOptions]="{standalone: true}" name="sort" style="width: 100%;">
                            <nz-option nzValue="wrk_workdate" nzLabel="Fecha"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputSort" class="bmd-label-floating">Ordenar:</label>
                        <nz-select [(ngModel)]="sortValue" [ngModelOptions]="{standalone: true}" name="sort" style="width: 100%;">
                            <nz-option nzValue="ASC" nzLabel="A-Z (Asc)"></nz-option>
                            <nz-option nzValue="DESC" nzLabel="Z-A (Desc)"></nz-option>
                        </nz-select>
                    </div>
                </div>
                <div class="col-12 col-md-1">
                    <div class="form-group">
                        <label for="inputItems" class="bmd-label-floating">Items:</label>
                        <nz-select [(ngModel)]="perPage" [ngModelOptions]="{standalone: true}" name="perPage" style="width: 100%;">
                            <nz-option [nzValue]="10" nzLabel="10"></nz-option>
                            <nz-option [nzValue]="25" nzLabel="25"></nz-option>
                            <nz-option [nzValue]="50" nzLabel="50"></nz-option>
                            <nz-option [nzValue]="100" nzLabel="100"></nz-option>
                        </nz-select>
                    </div>
                </div>
                
            </div>
            <div class="col-12">
                <p class="text-center" style="margin-top: 15px;">
                    <button type="submit"  (click)="filter()" class="btn btn-raised btn-info" style="margin: 0 5px 0 0;">
                        <i class="fas fa-search"></i> &nbsp; BUSCAR
                    </button>
                    <button type="button" (click)="clearSearch()" class="btn btn-raised btn-danger" style="margin: 0;">
                        <i class="far fa-trash-alt"></i> &nbsp; LIMPIAR BÚSQUEDA
                    </button>
                </p>
            </div>
        </div>
    </form>
</div>

<div class="container-fluid">
    @if(works$ | async; as works) {
        <div class="table-responsive">
            <table class="table table-dark table-sm">
                <thead>
                    <tr class="text-center roboto-medium">
                        <th>#</th>
                        <th>CLIENTE</th>
                        <th>RECORRIDO</th>
                        <th>FECHA DE TRABAJO</th>
                        <th>RUBRO</th>
                        <th>ESTADO</th>
                        <th>DESCRIPCION</th>
                        <th>PLANILLA</th>
                        <th>ACTUALIZAR</th>
                        <th>ELIMINAR</th>
                    </tr>
                </thead>
                <tbody>                    
                    @for(work of works.data; track work.wrk_uuid) {
                        <tr class="text-center" >
                            <td>{{$index + 1}}</td>
                            @if(work.wrk_customer) {
                                <td>
                                    <span class="works-eventual-client">
                                        {{work.wrk_customer}}
                                    </span>
                                </td>
                                <td>&nbsp;</td>
                            } @else {
                                <td>
                                    <span class="works-fixed-client">
                                        {{work.adr?.cus?.cus_fullname}}
                                    </span>
                                </td>
                                <td>{{work.adr?.cus?.rou?.rou_name}}</td>
                            }
                            <td>{{work.wrk_workdate | date: 'dd/MM/yyyy'}}</td>
                            <td>{{work.mitm?.mitm_name}}</td>
                            <td>{{work.wrks?.wrks_name}}</td>
                            <td>{{work.wrk_description}}</td>
                            <td>
                                @if(work.wrks?.wrks_name === "Pendiente" || work.wrks?.wrks_name === "A Recuperar/Reprogramar") {
                                    <a [routerLink]="['/admin/user/work-sheet', work.wrk_uuid]" class="btn btn-info">
                                        <i class="fas fa-file-pdf"></i>	
                                    </a>
                                }
                                @else
                                {
                                    <a [routerLink]="['/admin/user/work-sheet-view', work.wrk_uuid]" class="btn btn-info">
                                        <i class="fas fa-file-pdf"></i>	
                                    </a>
                                }
                            </td>
                            <td>
                                <a [routerLink]="['/admin/user/work', work.wrk_uuid]" class="btn btn-success">
                                    <i class="fas fa-sync-alt"></i>	
                                </a>
                            </td>
                            <td>
                                <form action="">
                                    <button 
                                        type="button" 
                                        class="btn btn-warning"
                                        (click)="deleteWork(work)">
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        @if(works.totalPages > 1) {
            <app-pagination
                (paginaEmitter)="goToPage($event)"
                [page]="page"
                [totalPages]="works.totalPages"
                [numElements]="numElements"
                >
            </app-pagination>
        }
    }
</div>