nz-select {
    width: 90px;
}

.works-fixed-client {
    background-color: rgb(23, 90, 23);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}

.works-eventual-client {
    background-color: rgb(144, 14, 14);
    color: rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
}